header {
        background-color: black;
        display: grid;
        place-items: center;
        grid-area: navigation;

        .nav-bar {
            color: white;
            font-style: italic;
            font-size: 20px;
        }
}